@model IEGen.Models.LocationPageViewModel
@{
    ViewBag.Title = "Locations";
}

<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Locations</h4></div>
    <div class="wide-panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="input-group">
                    <input type="search" id="agDTSearchBox" class="form-control" placeholder="Search for Entries" />
                    <span class="input-group-btn">
                        <button id="agDTSearchBtn" class="btn btn-primary" title="Search for Entries">
                            <span style="white-space:nowrap"><i class="fa fa-search fa-lg"></i>&nbsp;</span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <button type="button" class="btn btn-default hidden-xs agAddBtn">Add New</button>

                <button type="button" class="btn btn-default pull-right export"><i class="fa fa-file-excel"></i> Export All</button>
            </div>
        </div>
        <table id="agDT" class="table table-hover table-bordered fullwidth" data-order="[]">
            <thead>
                <tr>
                    <th data-orderable="false" data-searchable="false"></th>
                    <th>Name</th>
                    <th>State</th>
                    <th># Schools</th>
                </tr>
            </thead>
            <tbody id="agDTBody">
                @foreach (var ag in Model.LocationList)
                {
                    <tr id="@ag.LocationID">
                        <td><button class="btn btn-default btn-xs agDTBtn" title="edit"><i class="fa fa-pencil-alt"></i></button></td>
                        <td>@ag.Name</td>
                        <td>@ag.StateName</td>
                        <td>@ag.SchoolCount</td>
                    </tr>
                }
            </tbody>
        </table>

        <span class="visible-xs" style="margin-top:5px;text-align:center"><button type="button" class="btn btn-primary agAddBtn">Add New</button></span>

    </div>
</div>

<div class="modal fade" id="PViewModal" tabindex="-1" role="dialog" aria-labelledby="PViewTitle" aria-hidden="true" data-backdrop="static">
    <div id="PViewContainer" class="modal-dialog" role="document">
    </div>
</div>

@{ Html.RenderPartial("_LoadingDiv"); }

@section styles{ @Styles.Render("~/bundles/datatables-styles") }
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/datatables-core")
    @Scripts.Render("~/bundles/datatables-buttons")

    <script type="text/javascript">

        var tbID = '#agDT';
        var editBtn = "<button class='btn btn-default btn-xs agDTBtn' title='edit'><i class='fas fa-pencil-alt'></i></button>";

        $(document).ready(function () {

            MyDTBtnInit("agDT");

            $('.agAddBtn').click(function () {

                $.ajax({
                    url: "@Url.Action("_AddLocation")",
                    data: { },
                    global: false,
                    beforeSend: function () {
                        $("#loadingDiv").show();
                    },
                    complete: function () {
                        $("#loadingDiv").hide();
                    },
                    success: function (r) {
                        ShowModal(r);
                    }
                });
            });

            $(tbID).on("click", '.agDTBtn', function () {

                 $.ajax({
                     url: "@Url.Action("_EditLocation")",
                     data: { LocationID: $(this.parentNode.parentNode).attr('id') },
                     global: false,
                     beforeSend: function () {
                         $("#loadingDiv").show();
                     },
                     complete: function () {
                         $("#loadingDiv").hide();
                     },
                     success: function (r) {
                         ShowModal(r);
                    }
                 });
            });

            $('.export').click(function () {

                $("#agDTSearchBtn").click();
                Download();

            });

        });

        function ShowModal(content){
            $('#PViewContainer').html(content);

            $('#PViewModal').modal('show');
            $.validator.unobtrusive.parse($('#PViewContainer'));
        }

        function HideModal(){
            $('#PViewModal').modal('hide');
            $('#PViewContainer').html("");
        }

        function AddSuccess(data) {

            HideModal();

            var ag = data;

            var rowData = [editBtn, ag.Name, ag.StateName, ag.SchoolCount];

            var tr = $(tbID).DataTable().row.add(rowData).draw().node();
            $(tr).attr('id', ag.LocationID);
        }

        function EditSuccess(data) {

            HideModal();

            var ag = data;

            var rowData = [editBtn, ag.Name, ag.StateName, ag.SchoolCount];

            $(tbID).DataTable().row('#' + ag.LocationID).data(rowData).draw('page');
        }

        function DeleteSuccess(rowID) {

            HideModal();

            $(tbID).DataTable().row('#' + rowID).remove().draw();
        }

        var downloadUrl = "@Url.Action("_DownloadLocations")";
        function Download() {

            var search = $("#agDTSearchBox").val();

            var data = {
                Search: search
            };

            window.location = downloadUrl + '?' + $.param(data);

        }
    </script>
}


