@model IEGen.Models.SchoolSkillsViewModel
@{
    ViewBag.Title = "School Skills";
}

<div id="AlertDiv"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            School Skills

            @if (Model.HeaderViewModel.IsAppAdmin)
            {
                @Html.ActionLink("Change School", "Schools", "Admin", null, new { @class = "pull-right titlelink" })
            }
        </div>
    </div>
    <div class="form-panel-body row">
        <div class="col-sm-6 col-md-3">
            <label class="control-label">Name</label>
            <p class="control-static">@Model.Name</p>
            <div class="fm-sp"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <label class="control-label">Type</label>
            <p class="control-static">@Model.Type</p>
            <div class="fm-sp"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <label class="control-label">Location</label>
            <p class="control-static">@Model.LocationName</p>
            <div class="fm-sp"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <label class="control-label">Default Skill Group</label>
            <p class="control-static defname">@Model.DefGroup</p>
            <div class="fm-sp"></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title">Skill Groups</h4></div>
    <div class="wide-panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="input-group">
                    <input type="search" id="ptDTSearchBox" class="form-control" placeholder="Search for Entries" />
                    <span class="input-group-btn">
                        <button id="ptDTSearchBtn" class="btn btn-primary" title="Search for Entries">
                            <span style="white-space:nowrap"><i class="fa fa-search fa-lg"></i>&nbsp;</span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <button type="button" class="btn btn-default hidden-xs ptAddBtn">Add New</button>
            </div>
        </div>
        <table id="ptDT" class="table table-hover table-bordered fullwidth" data-order="[]">
            <thead>
                <tr>
                    <th data-orderable="false" data-searchable="false"></th>
                    <th data-orderable="false" data-searchable="false"></th>
                    <th>Name</th>
                    <th>Skill 1</th>
                    <th>Skill 2</th>
                    <th>Skill 3</th>
                    <th>Skill 4</th>
                    <th>Skill 5</th>
                    <th>Skill 6</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="ptDTBody">
                @foreach (var ag in Model.GroupList)
                {
                    <tr id="@ag.SkillGroupID">
                        <td><button class="btn btn-default btn-xs ptDTBtn" title="view"><i class="fa fa-search"></i></button></td>
                        <td><button class="btn btn-success btn-xs defBtn" title="set as default"><i class="fa fa-play"></i></button></td>
                        <td>@ag.DisplayName</td>
                        <td>@ag.Skill1</td>
                        <td>@ag.Skill2</td>
                        <td>@ag.Skill3</td>
                        <td>@ag.Skill4</td>
                        <td>@ag.Skill5</td>
                        <td>@ag.Skill6</td>
                        <td>@ag.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <span class="visible-xs" style="margin-top:5px;text-align:center"><button type="button" class="btn btn-primary ptAddBtn">Add New</button></span>

    </div>
</div>

<div class="modal fade" id="PViewModal" tabindex="-1" role="dialog" aria-labelledby="PViewTitle" aria-hidden="true" data-backdrop="static">
    <div id="PViewContainer" class="modal-dialog" role="document">
    </div>
</div>

@{ Html.RenderPartial("_LoadingDiv"); }

@section styles{ @Styles.Render("~/bundles/datatables-styles") }
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/datatables-core")
    @Scripts.Render("~/bundles/datatables-buttons")

    <script type="text/javascript">

        var tbID = '#ptDT';
        var editBtn = "<button class='btn btn-default btn-xs ptDTBtn' title='edit'><i class='fa fa-pencil-alt'></i></button>";
        var setupBtn = "<button class='btn btn-warning btn-xs psDTBtn' title='setup'><i class='fa fa-wrench'></i></button>";

        $(document).ready(function () {

            MyDTBtnInit("ptDT");

            var addUrl = "@Url.Action("_AddSkillGroup", "Admin", new { SchoolID = Model.HeaderViewModel.SchoolID })";
            $('.ptAddBtn').click(function () {

                $.ajax({
                    url: addUrl,
                    data: { },
                    global: false,
                    beforeSend: function () {
                        $("#loadingDiv").show();
                    },
                    complete: function () {
                        $("#loadingDiv").hide();
                    },
                    success: function (r) {
                        ShowModal(r);
                    }
                });
            });

            var editUrl = "@Url.Action("_ViewSkillGroup")";
            $(tbID).on("click", '.ptDTBtn', function () {

                 $.ajax({
                     url: editUrl,
                     data: { SkillGroupID: $(this.parentNode.parentNode).attr('id') },
                     global: false,
                     beforeSend: function () {
                         $("#loadingDiv").show();
                     },
                     complete: function () {
                         $("#loadingDiv").hide();
                     },
                     success: function (r) {
                         ShowModal(r);
                    }
                });
            });

            var defUrl = "@Url.Action("SetDefSkillGroup", new { SchoolID = Model.HeaderViewModel.SchoolID })";
            $(tbID).on("click", '.defBtn', function () {

                $.ajax({
                    url: defUrl,
                    data: { SkillGroupID: $(this.parentNode.parentNode).attr('id') },
                    global: false,
                    beforeSend: function () {
                        $("#loadingDiv").show();
                    },
                    complete: function () {
                        $("#loadingDiv").hide();
                    },
                    error: function (xhr, status, error) {
                        ShowAlertMsg('AlertDiv', xhr);
                    }
                });
            });

        });

        function ShowModal(content){
            $('#PViewContainer').html(content);

            $('#PViewModal').modal('show');
            $.validator.unobtrusive.parse($('#PViewContainer'));
        }

        function HideModal(){
            $('#PViewModal').modal('hide');
            $('#PViewContainer').html("");
        }

        function EditSkillGroupSuccess(data) {

            HideModal();

            var ag = data;

            var rowData = [editBtn, setupBtn, ag.DisplayName, ag.Skill1, ag.Skill2, ag.Skill3, ag.Skill4, ag.Skill5, ag.Skill6, ag.Status];

            $(tbID).DataTable().row('#' + ag.SkillGroupID).data(rowData).draw('page');
        }

        function DeleteSkillGroupSuccess(rowID) {

            HideModal();

            $(tbID).DataTable().row('#' + rowID).remove().draw();
        }

        function RedirectAction(data) {

            $('#AlertDiv').html(data);
            $(".alert").show(300);
        }
    </script>
}
