@model IEGen.Models.CommentSheetsPageViewModel
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    ViewBag.Title = Model.CommentTypeName + " - " + Model.SchoolName;

    var cnt = 0;
}

@foreach (var sh in Model.DisplaySheets)
{
    if (cnt > 0)
    {
        <div style="page-break-before: always;"></div>
    }


    <div class="panel panel-default" style="font-size: 10px; margin-bottom:0">
        <div class="panel-heading">
            <div class="panel-title" style="font-size:larger">
                <b>@sh.Name</b> Comment Entry

                <span class="pull-right">@Model.TermName</span>
            </div>
        </div>
        <div class="form-panel-body row">
            <div class="col-xs-6">
                <p class="control-static" style="font-size:larger">@Model.SchoolName</p>
            </div>
        </div>
        <div class="wide-panel-body" style="padding-bottom:0">
            <table class="table table-bordered fullwidth cprint" style="margin-bottom:0">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Student</th>
                        <th style="width:800px">@Model.CommentTypeName</th>
                    </tr>
                </thead>
                <tbody id="clDTBody">
                    @foreach (var ag in sh.Entries)
                    {
                        <tr>
                            <td>@ag.SerialNumber</td>
                            <td><b>@ag.StudentName</b></td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <span style="font-size: 9px">&copy; @DateTime.Now.Year Imavate Education</span><span class="pull-right" style="font-size: 9px">www.imavate-edu.com</span>

    cnt++;
}


